<div id="contenido_Acerca">
  <body>
      <!--Texto1-->
      <div class="aDe">
          <h1> Acerca de... </h1>
      </div>
      <!--Imagen1-->
      <div>
          <img src="src/assets/image/LOGO BUENROSTRO & ASOCIADOS MARCA.001.png" alt="Logo_p" class="logo2">
      </div>
      <!--Texto3-->
      <div class="dato_Personal">
          <h1>Mtro. José Luis Buenrostro de León</h1>
      </div>
      <!--Texto4-->
      <div class="dato_Personal2">
          <h1>Abogado y Asesor Tributario</h1>
      </div>
      <!--Texto5-->
      <div class="dato_Personal3">
          <h1>(044) 962 152 8262</h1>
      </div>
      <!--Imagen1-->
      <div>
          <img src="src/assets/image/facebook.png" class="facebook_icon">
      </div>
      <!--Texto6-->
      <div class="facebook">
          <h1>Buenrostro y Asosiados</h1>
      </div>
       <!--Imagen2-->
       <div>
          <img src="src/assets/image/hotmail.png" class="hotmail_icon">
      </div>
      <!--Texto7-->
      <div class="hotmail">
          <h1>joseluis_bl@hotmail.com</h1>
      </div>
      <!--Texto8-->
      <div class="developers">
          <h1>Desarrolladores:</h1>
          <h1>Angel Antonio Hernandez Gomez</h1>
          <h1>Horacio Josué Marroquin Herrera</h1>
      </div>
      <!--Texto9-->
      <div class="direccion">
          <h1>Calle río Cosalpa Mz. 13 Núm. 3</h1>
          <h1>Fracc. Ecológico las Hortecias</h1>
          <h1>Tapachula, Chiapas C.P. 30797.</h1>
      </div>
  </body>
</div>