* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

body {
  overflow: hidden; 
  margin: 0;
  padding: 0;
  transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -ms-transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  border: 3px solid #c0392b;
  min-height: 100vh;
}

main {
  padding: 0px;
  margin-top: 92px;
  margin-left: 80px;
  margin-right: 10px;
  box-sizing: border-box;
  position: absolute;
}

header {
  left: 0;
  right: 0;
  height: 92px;
  background: #f2f2f2;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 200;
  border: 3px solid #c0392b;
}

.logo_menu {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  transform: translateX(30px);
  position: absolute;
}

.logo {
  width: 200px;
  height: 85px;
  align-self: center;
  font-size: 20px;
}
.logo_invertido {
  width: 200px;
  height: 85px;
  align-self: center;
  font-size: 20px;
}

.menu__side {
  width: 70px;
  background: #f2f2f2;
  position: fixed;
  top: 90px;
  left: 0;
  bottom: 0;
  font-size: 24px;
  overflow: auto;
  overflow-y: scroll;
  border: 3px solid #c0392b;
  transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.menu__side::-webkit-scrollbar {
  display: none;
}

.menu__side {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.menu_btn {
  height: 100px; 
  display: flex;
  align-items: center;
  padding: 20px;
  cursor: pointer;
}

.menu_btn h5 {
  font-weight: 300;
  margin: 0;
  margin-left: 10px;
  cursor: pointer;
}

.options__menu {
  padding: 40px 20px;
  position: absolute;
  top: 60px;
}

.img_menu {
  width: 30px; 
  height: auto;
  margin-right: 20px; 
}

.img_tramites {
  width: 30px; 
  height: auto;
  margin-right: 20px; 
}

.img_pFisica {
  width: 30px; 
  height: auto;
  margin-right: 20px; 
}

.img_pMoral {
  width: 30px; 
  height: auto;
  margin-right: 20px; 
}

.img_formularios {
  width: 30px; 
  height: auto;
  margin-right: 20px; 
}

.img_trComun {
  width: 30px; 
  height: auto;
  margin-right: 20px; 
}

.img_aDe {
  width: 30px; 
  height: auto;
  margin-right: 20px; 
}

.img_ac {
  width: 30px; 
  height: auto;
  margin-right: 20px; 
}

.options__menu a {
  color: #000000;
  cursor: default;
  display: block;
  position: relative;
  transition: color 400ms;
}

.options__menu a:hover {
  color: rgb(249, 6, 6);
}

.options__menu .option {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  position: relative;
}

.options__menu .option i {
  width: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.options__menu .option h4 {
  font-weight: 300;
  cursor: pointer;
}

a.selected {
  color: #c0392b;
}

.selected:before {
  content: '';
  width: 3px;
  height: 80%;
  background: white;
  position: absolute;
  top: 10%;
  left: -30px;
}

.body_move {
  margin-left: 250px;
}

.menu__side_move {
  width: 250px;
}


@media screen and (max-width: 600px) {
  .body_move {
    margin-left: 0px;
  }

  .menu__side_move {
    width: 80px;
    left: -80px;
  }
}

.options__menu .sub-menu {
  display: none;
}

.options__menu .sub-menu.active {
  display: block;
}

.options__menu .option.selected {
  background-color: #5f6165;
  color: white;
}

.options__menu .sub-menu .option {
  background-color: #5f6165;
  color: #ffffff;
  padding-left: 10px;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  position: relative;
}

.options__menu .selected:before {
  content: '';
  width: 3px;
  height: 80%;
  background: white;
  position: absolute;
  top: 10%;
  left: -30px;
}

/* DISEÑO DE ACERDA DE; INICIO */

.aDe h1{
  position: relative;
  top: 5px;
  left: 530px;
  font-size: 24px;
}

.logo2 {
  position: relative;
  top: 40px;
  left: 480px;
  width: 200px;
  height: 100px;
}

.dato_Personal h1 {
  position: relative;
  top: 60px;
  left: 390px;
  font-size: 24px;
}

.dato_Personal2 h1 {
  position: relative;
  top: 60px;
  left: 430px;
  font-size: 24px;
}

.dato_Personal3 h1 {
  position: relative;
  top: 60px;
  left: 500px;
  font-size: 24px;
}

.facebook_icon {
  position: relative;
  top: 90px;
  left: 80px;
  width: 50px;
  height: 50px;
}

.facebook a{
  position: relative;
  top: 45px;
  left: 140px;
  font-size: 24px;
}

.hotmail_icon {
  position: relative;
  top: 8px;
  left: 700px;
  width: 65px;
  height: 40px;
}

.hotmail h1{
  position: relative;
  top: -35px;
  left: 780px;
  font-size: 24px;
}

.developers h1{
  position: relative;
  top: 50px;
  left: 80px;
  font-size: 24px;
}

.direccion h1{
  position: relative;
  top: -50px;
  left: 730px;
  font-size: 24px;
}
/* DISEÑO DE ACERDA DE; FINAL */

/* CENTRAR BARRAS DE BUSQUEDA; INICIO */
div[id="contenido_Física"] {
  padding-top: 0px;
  padding-left: 420px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh; /* O ajusta la altura según tus necesidades */
}

#pdfIframe {
  position: relative;
  left: 50%; /* Mueve el iframe hacia el centro horizontal de su contenedor */
  transform: translateX(-50%); /* Centra exactamente el iframe */
  margin-top: 20px; /* Agrega margen superior para separar del contenido anterior */
}

div[id="contenido_Moral"] {
  padding-top: 0px;
  padding-left: 420px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh; /* O ajusta la altura según tus necesidades */
}

#pdfIframe2 {
  position: relative;
  left: 50%; /* Mueve el iframe hacia el centro horizontal de su contenedor */
  transform: translateX(-50%); /* Centra exactamente el iframe */
  margin-top: 20px; /* Agrega margen superior para separar del contenido anterior */
}

div[id="contenido_Formularios"] {
  padding-top: 0px;
  padding-left: 420px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh; /* O ajusta la altura según tus necesidades */
}

#pdfIframe3 {
  position: relative;
  left: 50%; /* Mueve el iframe hacia el centro horizontal de su contenedor */
  transform: translateX(-50%); /* Centra exactamente el iframe */
  margin-top: 20px; /* Agrega margen superior para separar del contenido anterior */
}

/* CENTRAR BARRAS DE BUSQUEDA; FINAL */

/* DISEÑO BARRAS DE BUSQUEDA; INICIO */
/* Estilo para el campo de entrada */
#searchInput {
  position: relative;
  left: 10%;
  padding: 8px;
  border: 2px solid #ff0000;
  border-radius: 20px;
  width: 300px;
  margin-right: 10px;
}

/* Estilo para el botón */
#searchButton {
  position: relative;
  left: -10%;
  padding: 8px 12px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/* Estilo para el contenedor del input y botón */
#searchContainer {
  margin-top: 0px;
  display: center;
  align-items: center;
}

#searchInput2 {
  position: relative;
  left: 10%;
  padding: 8px;
  border: 2px solid #ff0000;
  border-radius: 20px;
  width: 300px;
  margin-right: 10px;
}

/* Estilo para el botón */
#searchButton2 {
  position: relative;
  left: -10%;
  padding: 8px 12px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/* Estilo para el contenedor del input y botón */
#searchContainer2 {
  margin-top: 0px;
  display: center;
  align-items: center;
}

#searchInput3 {
  position: relative;
  left: 10%;
  padding: 8px;
  border: 2px solid #ff0000;
  border-radius: 20px;
  width: 300px;
  margin-right: 10px;
}

/* Estilo para el botón */
#searchButton3 {
  position: relative;
  left: -11%;
  padding: 8px 12px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/* Estilo para el contenedor del input y botón */
#searchContainer3 {
  margin-top: 0px;
  display: center;
  align-items: center;
}
/* DISEÑO BARRAS DE BUSQUEDA; INICIO */
.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  border: 1px solid #ccc;
  background-color: white;
}

.ui-menu-item {
  padding: 8px;
  cursor: pointer;
}

.ui-menu-item:hover {
  background-color: #f5f5f5;
}
#contenido_TamitesC {
  width: 100%;
  display: flex;
  align-items: normal;
  justify-content: space-between;
  padding: 10px;
}

.table-container {
  padding: 0;
  float: left;
  position: relative;
  width: 50%;
  height: 495px;
  overflow-y: auto;
  margin-right: 20px; /* Agregar margen entre table-container y pdfContainer4 */
}

.pdfContainer4 {
  padding: 0;
  margin: 0;
  position: relative;
  float: left;
  width: 30%;
  height: auto;
}

#tramitesTable {
  border-collapse: collapse;
  table-layout: fixed; /* Establecer el diseño de la tabla como fijo */
  width: 100%; /* Ancho total de la tabla */
}

#tramitesTable th.firstColum {
  width: 40px; /* Ancho fijo para la columna "Nombre del trámite" */
  min-width: 40px; /* Ancho mínimo (opcional) */
  max-width: 40px; /* Ancho máximo (opcional) */
  white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
  overflow: hidden; /* Oculta el contenido que desborda */
  text-overflow: ellipsis; /* Muestra puntos suspensivos (...) para indicar contenido recortado */
}

#tramitesTable th.thirdColum {
  width: 30px; /* Ancho fijo para la columna "Acciones" */
  /* Puedes ajustar este ancho según tus necesidades */
}

#tramitesTable td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

#tramitesTable th {
  background-color: #c0392b;
  color: #fff;
}

/* Agregar líneas separadoras */
#tramitesTable tr:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.viewButton {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.viewButton:hover {
  background-color: #0056b3;
}
.color-switch {
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 27%;
  height: 34px;
  left: -8%;
  top: 130px;
  
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  display: inline-block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #fff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.dark-mode .slider:before{
  background-color: #333;
}

.slider.round:before {
  border-radius: 50%;
}
.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode .menu_btn .img_menu{
  filter: invert(20); /* Invierte los colores del logo */
}
.dark-mode .option img{
  filter: invert(20); /* Invierte los colores del logo */
}
.dark-mode header {
  background-color: #333;
  border-color: #c0392b;
}
.dark-mode .menu_btn h5 {
  color: #ffffff;

}
.logo_invertido {
  display: none;
}

.dark-mode .logo {
  display: none;
}

.dark-mode .logo_invertido {
  display: inline-block;
}

.dark-mode .menu__side {
  background-color: #333;
  border-color: #c0392b;
}

.dark-mode .options__menu .option h4 {
  color: #fff;
}

.dark-mode main {
  background-color: #333;
  color: #fff;
}

/* Estilos para el footer */
footer {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding: 10px 20px;
  top: 95%;
  height: 30px;
  width: auto;
  box-sizing: border-box;
  position: absolute;
  margin-left: 67px;
  margin-right: 10px;

}
/* Estilos para el mensaje de copyright */
footer .copyright {
  font-size: 13px;
}
.dark-mode footer {
  background-color: #333;
  color: #ffffff;
}

.fisica {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 85vh; /* Esto asegura que la div ocupe toda la altura de la pantalla */
  margin-left: 45vh;
}

#pdfChart {
  width: 80%; /* Ejemplo: Ancho del 80% del ancho de la div */
  height: 100vh; /* Altura ajustada automáticamente para mantener la proporción original */
}